

.nowrap {
  white-space: nowrap !important;
}

.tab {
  border: none !important;
}

.sans {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

.kanit {
  font-family: 'Kanit', sans-serif;
  white-space: nowrap;
}

@media only screen and (max-width: 500px) {
  .mobile_narrow {
    padding: 10px !important; 
  }
}


.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}